@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@if (succesHappend)
{
    <div class="alert alert-success" role="alert">
        @message
    </div>
}
@if (errorHappend)
{
    <div class="alert alert-danger" role="alert">
        @message
    </div>
}

<div class="container">
    <div class="header">
        <h2 class="header-text">Begivenheder nær dig</h2>
    </div>
    @if (Events != null)
    {
        @foreach (Event e in Events)
        {
            <div class="event-container">
                <img class="event-image" src="@e.ImageUrl" />
                <h2 class="event-title">@e.Title</h2>
                <p class="event-description">@e.Description</p>
                <div class="event-footer">
                    <div class="event-info">
                        <p class="event-distance">@(e.EventInfo.Distance) Kilometer fra dig</p>
                        <p class="event-distance">   -   </p>
                        <p class="event-address">@e.EventInfo.Address</p>
                    </div>
                    <div class="buttons">
                        <button class="button" @onclick="() => MeldBrugerTilAsync(e.Id)">Meld dig til</button>
                    </div>
                </div>
            </div>
        }
    }
</div>
